<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" src="public/assets/css/burger_style">

		<title>Order a Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascritpt" src="models/burger.js"></script>
		
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
